@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: #E7E3D4;
  color: #29344A;
}

::selection {
  background: #B23850;
  color: #FFFFFF;
}
